.filter {
  margin-top: 51px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.filter-open {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 92.896px;
  background-color: var(--input-border);
  font-family: 'TTfirs';
  font-size: 22.295px;
  line-height: 0.7;
  width: 170px;
  height: 44px;
  gap: 11.148px;
}
.filter-img {
  width: 26px;
  height: 26px;
}
.mob-filter {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #ffff;
  top: 0;
  z-index: 1;
  .container {
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}
