.header {
  padding-top: 40px;
  padding-bottom: 51px;
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.header_link {
  display: flex;
  align-items: center;
}
.header_link_text {
  color: var(--black);
  font-size: 14px;
}
