@import-normalize; /* bring in normalize.css styles */

:root {
  --black: #000;
  --purple-gradient: linear-gradient(232deg, #bd00ff 0%, #8f00ff 100%);
  --input-border: #d8d6de;
  --grey: rgba(0, 0, 0, 0.5);
  --white: #ffffff;
}
.no-scroll {
  overflow: hidden;
}
.container {
  width: calc(100% - 80px);
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;

  @media screen and (min-width: 640px) {
    width: 560px;
  }

  @media screen and (min-width: 1024px) {
    width: 849px;
  }

  @media screen and (min-width: 1920px) {
    width: 1178px;
  }
}
.main_container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  @media screen and (min-width: 280px) {
    width: 200px;
  }
  @media screen and (min-width: 420px) {
    width: 440px;
  }
  @media screen and (min-width: 640px) {
    width: 560px;
  }
  @media screen and (min-width: 1024px) {
    width: 100%;
    padding-right: 64px;
  }
  @media screen and (min-width: 1920px) {
    width: 1800px;
    padding-right: 103px;
  }
}
@font-face {
  font-family: 'TTfirs';
  src: url('./fonts/ttfirs.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
html {
  overflow-x: hidden;
}
body {
  font-family: 'TTfirs', 'open-sans';
  margin: 0;
  color: var(--black);
  letter-spacing: 0.14px;
}
button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
